# Example environment variables
# Copy this file to .env and fill in your actual values

# # Database
# DATABASE_URL="postgresql://user:password@localhost:5432/database_name"

# # Application
# NODE_ENV=development
# PORT=3000

# NODE_ENV="development"

DATABASE_URL="postgres://admin:ninaAdmin@postgres:5432/authService-db"
JWT_SECRET="3fbb9a91e21db169959a6d0a58a13501d6e167fa55f9982f1b9b14f979f48d28"
